#canvasJeu {
    border:1px solid;
    background-color:lightGrey;
	float:left;
  }
  
#modifBG 
{
	border: 2px solid black;
	float:left;
}

#modifSkin
{   margin-left:100px;
	border: 2px solid black;
	float:left;
}

#startBtn
{   margin-left:-150px;
	margin-top:200px;
	border: 2px solid black;
	float:left;
}

#listeMusiques
{   visibility:hidden;
	margin-left:-200px;
	margin-top:200px;
	border: 2px solid black;
	float:right;
}

