
#divCanvas
{
	text-align:center;
}

#canvasJeu {
    border:1px solid;
    background-color:lightGrey;
  }
  
#perso1
{
	margin-left:30%;
	float:left;
}
  
#perso2
{
	margin-left:60%;
}
    
  
#modifBG 
{	margin-left:30%;
	border: 2px solid black;
	float:left;
}

#modifSkin
{   margin-left:5%;
	border: 2px solid black;
	float:left;
	position:relative;
}

#startBtn
{   margin-left:-150px;
	margin-top:200px;
	border: 2px solid black;
	float:left;
}

#listeMusiques
{   visibility:hidden;
	margin-left:7%;
	border: 2px solid black;
	float:left;
}

